#{extends 'main.html' /}
#{set title:'Enter Name' /}

<div class="main-content start">

    <div class="register">

    #{form @name()}

    <ul class="form">
        <li>
          <input type="text" name="playerName" placeholder="Player name" value="${flash.playerName}">
        </li>
        <li>
            <input class="button gray" type="submit" value="Play!">
            <p class="error">
                #{ifErrors}${errors[0]}#{/ifErrors}
            </p>
        </li>
    </ul>

    #{/form}

    </div>
</div>